* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#task-input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#task-input:focus {
    border-color: #1b4db9;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

button {
    width: 30%;
    padding: 14px;
    font-size: 18px;
    color: #fff;
    background-color: #1b4db9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #2a5490;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #fafafa;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

li:hover {
    transform: translateX(5px);
}


.task-checkbox {
    margin-right: 15px;
    cursor: pointer;
}


.task-text {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    transition: color 0.3s ease;
}

.task-text.completed {
    text-decoration: line-through;
    color: #aaa;
}


.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c0392b;
}


@media (max-width: 600px) {
    .app-container {
        padding: 20px;
    }

    button {
        font-size: 16px;
    }

    #task-input {
        padding: 12px;
    }

    li {
        padding: 10px 15px;
    }
}
